/*nav bar header*/
img.faviconimg
{width:30px;}

.greenbtn
{margin-top:0px;}

.headerli
{margin-right:20px;}

.greenbuttonli
{margin-right:20px;
margin-top:10px;}

.navheight
{height:85px;}

.containerht
{margin-top:15px;}

.middleimg
{float:left;
background-image:url();
background-repeat:no-repeat;
width:;
height:;
}

.clear
{clear:both;}

.carousel-caption {
    bottom: 40% !important;
    color: #FFFFFF !important;
    position: absolute !important;
    left: 30% !important;
    text-align: left !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6) !important;
    top: 10% !important;
    z-index: 10 !important; 
	width:50%;
}
.carousel-inner
{
height:500px !important;
}
.carousel-inner img
{
min-height:500px !important;
}


@media all and (min-width: 800px) 
{
img.graphicimg
{width:80% !important;}
}

@media all and (max-width: 800px) 
{
img.graphicimg
{width:100% !important;}
}


@media all and (min-width: 800px) 
{
span.mobileimg img
{width:100%;
}
}

@media all and (min-width: 400px) and (max-width: 800px)
{
span.mobileimg img
{
width:100% !important;
}

.karmahotspot
{
width:100%;
}
}

@media all and (max-width:400px)
{
span.mobileimg img
{
width:100%;
}

.karmahotspot
{
width:100%;
}
}






p a.blackbtn
  {background-color: 010100 !important;
    border: 2px solid #808080 !important;
    color: #FFFFFF !important;
    font-size: 14px;
    font-weight: bold;
    padding: 13px 27px;}
	
p a.blackbtn:hover
{ border: 2px solid white !important;}	

.lightgreenbtn
{ background-color: #63C6AE !important;
font-size: 14px;
font-weight: bold;
padding: 16px 28px;
margin-left:20px;}
	
.lightgreenbtn:hover
{color:white;
background-color:#5BB6A0 !important;}

.para2
{text-align:center;
margin-top:80px;}

.para2 h5  
{ font-family: "proxima-nova-alt",Proxima Nova,Helvetica Neue,Helvetica,Arial,sans-serif;
      font-weight: bold;
    letter-spacing: 0.2em;}

#how-does-not-work	
{text-align:center;
width:100%;}

.graphicimg
{margin-top:20px;}

#why-is-it-different
{width:100%;
background-color:#F7F5F2;
 margin-top:-20px;}	
 
#how-do-i-use-it
{width:100%;
} 

.mobileimg
{margin-top:80px;}

#how-do-i-use-it h5
{font-family: "proxima-nova-alt",Proxima Nova,Helvetica Neue,Helvetica,Arial,sans-serif;
font-weight: bold;
letter-spacing: 0.2em;
margin-top:80px;
text-align:left;}

.btn1
{color: #FFFFFF;
 margin-left: 4px;
 margin-top: 20px;
}

#what-is-powering-it
 {background-color: #F7F5F2;
margin-top: -10px;
width: 100%;}
	
.hotspots
{width:100%;}

.hotspotgraphic1
{text-align:left;}

.hotspot1
{margin-left:0px;}



.hotspot2 img {
bottom: 0;
position: absolute;
margin-right:30%;
right: 0;
}

.hotspot3 img {
bottom: 0;
position: absolute;
 right: 30%;
}

@media all and (min-width: 800px)
{
.hotspotgraphic1
{margin-right:30px;}
}

@media all and (min-width:600px) and (max-width:800px)
{
.hotspotsqr, .hotspot2, .hotspot3 
{
width:100%;
}

}

@media all and (min-width:400px) and (max-width:600px)
{
img.hotspot1, .hotspot2 img, .hotspot3 img
{
max-width:70%;
}

}

@media all and (max-width:400px)
{
img.hotspot1, .hotspot2 img, .hotspot3 img
{
max-width:70% !important;
}
}

.mytable tr td 
  
{padding-left: 5px;
 padding-right: 45px;
 padding-top: 10px;
 width: 20px;
 font-size:16px !important;}
 
 .commonquestions
 {text-align:left !important;
margin-top: 80px;
text-align: center;}

.facebookimg
{height:50%;}

ul.footerli li a
{word-spacing:10px;
color:grey;}

a.facebookthumb
{
 background-image: url("../images/facebook.png");
    display: block;
    height: 30px;
    overflow: hidden;
    width: 30px;
	float:right;
}

.newsletters
{
background-color: #F3F3F3;
border-radius: 20px;
line-height: 30px;
text-align: justify;
padding-bottom:20px;}

@media all and (max-width: 50px) 
{
.col-md-3,.col-md-6,.col-md-9
{
width:100%;
}
}


@media all and (max-width: 500px) 
{
.col-md-3,.col-md-6,.col-md-9
{
width:80%;
}
}

.top
{margin-top:30px;}

img.oakton1
{max-width:100px !important;}